.header-left {
  h1 {
    font-family: "Acme";
  }
}
.header {
  position: fixed;
  top: 0;
  border: 2px solid white;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #505050;
}
.header-temp {
  height: 70px;
}
.header-right {
  span {
    border: 2px solid white;
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;
    background-color: gray;
  }
}
.header-profile {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid white;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 1rem;

  span {
    transition: all 100ms ease-in-out;
    &:hover {
      background-color: white;
      color: black;
      cursor: pointer;
    }
  }
}
